<html>

{{> head title="Book detail"}}

<body>
  {{> header }}

  <article class="p-2">
    <div class='pb-2'>
      <a id='return-link' class="object-content flex gap-px no-underline">
        <i class='material-icons text-xl'>arrow_back</i>
        <div>
          Quay lại trang chủ
        </div>
      </a>
    </div>

    {{#if book}}
      {{> book_info book=book}}
    {{else}}
      {{> book_not_found}}
    {{/if}}

  </article>
</body>

<script defer='true'>
  try {
    const referrer = new URL(document.referrer);
    if (referrer.origin === location.origin && referrer.pathname === '/')
      document.getElementById('return-link').href = referrer.href
  } catch { }
</script>

</html>