<html>

{{> head title="Trang chủ"}}

<body class="flex flex-col h-screen">
  {{> header }}

  <article class="m-2 h-full vw-100 flex flex-col grow">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl">Tổng hợp sách</h2>
      <a href="/add" class="w3-button w3-border">Thêm sách</a>
    </div>

    <div class='flex flex-wrap items-stretch box-content grow'>
      {{#each data}}
        <div class='w-1/5 min-h-1/2 p-1'>

          <div class="border-2 rounded h-full flex flex-col items-center shadow cursor-pointer hover hover:bg-slate-50"
            onclick="location.href='/{{this.isbn}}'">
            <img class="h-4/5" src='{{this.coverUrl}}' />
            <div class='card-body'>
              <h1 class='card-text text-lg'>{{this.name}}</h1>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="pagination text-center">
      <a href="#">
        <i class='material-icons text-lg'>arrow_back</i>
      </a>
      <a href="#">
        <i class='material-icons text-lg'>arrow_forward</i>
      </a>
    </div>
  </article>

</body>

</html>