<head>
    <meta charset='UTF-8' />
    <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' />
    {{!-- <link href='public/stylesheet/header.css' rel='stylesheet' /> --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
</head>