<header class="w-full h-16 p-3 flex justify-between items-center shadow">
    <div>BookStore</div>
    <img class="w-10" id='logo' src='public/images/BookIcon.png' alt='Book Icon' />
    <div>&nbsp;</div>
</header>